---
export const prerender = true;
import Layout from '@layouts/index.astro';
import { Content } from '@content/about.md';
---

<Layout title="Aditya Banerjee - About">
    <div class="flex flex-col w-full h-full items-center justify-center">
        <div
            class="flex w-full px-[12.5%] max-h-[57.5vh] lg:max-h-[50vh] overflow-y-auto"
        >
            <Content />
        </div>
    </div>
</Layout>
