---
import Layout from '@layouts/index.astro';
import IconAcknowledgements from "@components/iconAcknowledgements.astro"
import { Content } from '@content/acknowledgements.md';
---

<Layout title="Aditya Banerjee - Acknowledgements">
    <div class="flex flex-col md:flex-row max-w-[90%] m-auto gap-8">
        <div
            class="flex flex-col justify-center items-center text-center gap-8"
        >
            <Content />
            <IconAcknowledgements />
        </div>
    </div>
</Layout>
