---
import Layout from '@layouts/index.astro';
import IntroBanner from '@components/introBanner.astro';
---

<Layout title="Aditya Banerjee">
    <div class="flex w-full h-full justify-center items-center">
        <IntroBanner />
    </div>
</Layout>
