---
import getProjects, { type Repository } from '@api/getProjects';
import Layout from '@layouts/index.astro';
import { Project } from '@components/project';
import { readableStreamToJSON } from 'bun';

let response = await getProjects(Astro);
const stream = response.body;
const repos = (await readableStreamToJSON(
    stream as ReadableStream
)) as Array<Repository>;
---

<Layout title="Aditya Banerjee - About">
    <div class="flex flex-col w-full h-full items-center justify-center">
        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 w-full px-[12.5%] max-h-[57.5vh] lg:max-h-[50vh] overflow-y-auto"
        >
            {
                repos.map((repo: Repository) => {
                    const { name, description, html_url } = repo;
                    return (
                        <Project
                            client:only="react"
                            name={name}
                            description={description}
                            html_url={html_url}
                        />
                    );
                })
            }
        </div>
    </div>
</Layout>
