---
import {
    Facebook,
    Instagram,
    Github,
    Email,
    Linkedin
} from '@assets/index.ts';
---

<div class="flex justify-evenly items-center w-full h-full py-8">
    <Facebook client:load />
    <Github client:load />
    <Email client:load />
    <Instagram client:load />
    <Linkedin client:load />
</div>
