---
import {
    Facebook,
    Instagram,
    Github,
    Email,
    Linkedin
} from '@assets/index.ts';
---

<div class="flex justify-evenly items-center w-full h-full py-8">
    <Facebook client:only="react" />
    <Github client:only="react" />
    <Email client:only="react" />
    <Instagram client:only="react" />
    <Linkedin client:only="react" />
</div>
