---
import { Facebook, Instagram, Github, Email, Linkedin } from '@assets/index.ts';
---

<div class="flex justify-evenly items-center w-full h-full py-8">
    <Github client:only="react" />
    <Facebook client:only="react" />
    <Email client:only="react" />
    <Instagram client:only="react" />
    <Linkedin client:only="react" />
</div>
