---
import Facebook from '@assets/facebook.astro';
import Github from '@assets/github.astro';
import Gmail from '@assets/gmail.astro';
import Instagram from '@assets/instagram.astro';
import Linkedin from '@assets/linkedin.astro';
---

<div class="flex justify-evenly items-center w-full h-full py-8">
    <Facebook />
    <Github />
    <Gmail />
    <Instagram />
    <Linkedin />
</div>
