---
import MobileNavigationMenu from './mobileNavigationMenu.astro';
import { Hamburger as HamburgerIcon } from '@assets/hamburger';
---

<script>
    const hamburgerButton = document.getElementById('hamburgerButton');
    const toggleHamburger = () => {
        const mobileNav = document.getElementById('mobileNav');
        mobileNav?.classList.toggle('hidden');
        mobileNav?.classList.toggle('flex');
    };
    hamburgerButton?.addEventListener('click', toggleHamburger);
</script>
<div class="flex lg:hidden h-[30px] md:h-[40px]">
    <button id="hamburgerButton">
        <HamburgerIcon client:only="react" />
    </button>
    <MobileNavigationMenu />
</div>
