---

---

<div class="flex flex-col font-extralight text-sm">
    <div>
        <a target="_blank" href="https://icons8.com/icon/63777/github">GitHub</a
        >
         icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
    <div>
        <a target="_blank" href="https://icons8.com/icon/118497/facebook"
            >Facebook</a
        > icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
    <div>
        <a target="_blank" href="https://icons8.com/icon/P7UIlhbpWzZm/gmail"
            >Gmail</a
        > icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
    <div>
        <a target="_blank" href="https://icons8.com/icon/32323/instagram"
            >Instagram</a
        >
         icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
    <div>
        <a target="_blank" href="https://icons8.com/icon/xuvGCOXi8Wyg/linkedin"
            >LinkedIn</a
        > icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
    <div>
        <a target="_blank" href="https://icons8.com/icon/12869/hamburger"
            >Hamburger</a
        > icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
</div>
